.galleryContainer{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.galleryContainer video{
    height: 500px;
    top: 0;
}
.galleryContainer h1{
    position: relative;
    color: white;
    text-shadow: black 5px 5px 2px ;
}
/* .workContainer{
    height: 100%;
    width: 100%;
} */
/* @media (max-width:820px) {
    .galleryContainer {
        height: 1000px;

    }
    .galleryContainer video{
    }

} */



.mainGevesVideo{
    text-align: center;
    height: 750px;

}
.mainGevesVideo video{
    display: block;
    height: 750px;

    width: 100%;
    z-index: -1;
    position: absolute;
    object-fit: cover;
}

.mainGevesVideo .textDivGeves{
    width: 300px;
    padding: 20px;
    margin-top: 250px;
    display: inline-block;
    border: 2.5px solid goldenrod;
    border-radius: 5px;
    box-shadow: black 2px 0 50px;
}
.mainGevesVideo .textDivGeves h1{
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-shadow: rgb(0, 0, 0) 5px 4.5px 2.5px;
    padding: 10px 20px;

}
.textDivGeves{
    color: rgb(0, 0, 0);
    background-color:transparent;
    text-shadow: white 2px 5px 5px;
    font-size: 17.5px;
}
.GevesMainData{
    height: 500px;
    background-color: grey;
    width: 100%;
}
@media(max-width:829px) {
    .mainGevesVideo .textDivGeves{
        margin-top: 450px;
    }
    .mainGevesVideo{
        height: 1000px;
    }
    .mainGevesVideo video{
        height: 1000px;
    }
}